<!DOCTYPE html>
<html>
<head>
    <head th:replace="~{@{includes/admin/head}}"></head>
</head>
<body>

<script id="list_info_roletype" type="text/x-handlebars-template">
    {{#resultData_roletype}}
    <tr class="gradeA">
        <td><font class="font_order"></font></td>
        <td class="cursor_pointer" onclick="location.href='/roletype/admin_detail/{{id}}';">{{typeName}}</td>
    </tr>
    {{/resultData_roletype}}
</script>
<script type="text/javascript">
    var list_info_roletype = $("#list_info_roletype").html();
    var list_info_roletype_template = Handlebars.compile(list_info_roletype);
</script>

<div id="wrapper">
    <body th:replace="~{@{includes/admin/nav}}"></body>
    <script>
        $(".sidemenu_li_roletype").addClass("active");
    </script>
    <div id="page-wrapper" class="gray-bg dashbard-1">
        <body th:replace="~{@{includes/admin/navbar_top}}"></body>
        <div class="row wrapper border-bottom white-bg page-heading">
            <div class="col-lg-10">
                <h2>권한 관련</h2>
                <ol class="breadcrumb">
                    <li class="breadcrumb-item">
                        <a href="/admin">Home</a>
                    </li>
                    <li class="breadcrumb-item">
                        <a href="/tbuser/admin_list">권한 관련</a>
                    </li>
                    <li class="breadcrumb-item active">
                        <strong>접근권한</strong>
                    </li>
                </ol>
            </div>
            <div class="col-lg-2">
            </div>
        </div>

        <div class="ibox" style="padding-top:12.5px;padding-bottom:0px;">
            <div class="ibox-content">
                <div class="m-b" style="text-align:right;">
                    <button class="btn btn-secondary btn-sm" onclick="location.href='/roletype/admin_create'">추가하기</button>
                </div>
                <table class="table table-bordered">
                    <thead>
                    <tr>
                        <th>#</th>
                        <th>제목</th>
                    </tr>
                    </thead>
                    <tbody id="tbody_roletype_list">
                    </tbody>
                </table>
                <!--<table style="width:100%">
                    <tr>
                        <td style="text-align: right;">
                            <button class="btn btn-secondary btn-sm" onclick="location.href='/roletype/admin_create'">추가하기</button>
                        </td>
                    </tr>
                </table>-->
            </div>
        </div>
        <script>
            $( document ).ready(function() {
                console.log( "ready!" );
                search_roletype();
            });
            function search_roletype(){
                let _data = new Map();
                _data.url = "/api/roletype/list";
                _data.type = "POST";
                _data.success = function(obj_data, obj_status, obj_xhr){
                    let resultlist = obj_data;
                    for(let i=0;i<resultlist.length;i++){
                        let each_list = [];
                        each_list.push(resultlist[i]);
                        $("#tbody_roletype_list").append(list_info_roletype_template({"resultData_roletype":each_list}));
                    }
                    listenerAfterList();
                }
                _data.error = function(obj_data, obj_status, obj_xhr){
                    alert("정상적으로 이루어지지 않았습니다. 다시 시도해주세요.");
                }
                func_ajax(_data);
            }
        </script>
        <body th:replace="~{@{includes/admin/footer}}"></body>
    </div>
    <body th:replace="~{@{includes/admin/right_sidebar}}"></body>
</div>
<body th:replace="~{@{includes/admin/bottom}}"></body>
</body>
</html>
