<!DOCTYPE html>
<html>
<head>
    <head th:replace="~{@{includes/admin/head}}"></head>
</head>
<body>

<div id="wrapper">
    <body th:replace="~{@{includes/admin/nav}}"></body>
    <script>
        $(".sidemenu_li_tbbanner").addClass("active");
    </script>
    <div id="page-wrapper" class="gray-bg dashbard-1">
        <body th:replace="~{@{includes/admin/navbar_top}}"></body>
        <div class="row wrapper border-bottom white-bg page-heading">
            <div class="col-lg-10">
                <h2>배너 신규</h2>
                <ol class="breadcrumb">
                    <li class="breadcrumb-item">
                        <a href="/admin">Home</a>
                    </li>
                    <li class="breadcrumb-item">
                        <a href="/tbbanner/admin_list">USER</a>
                    </li>
                    <li class="breadcrumb-item">
                        <a href="/tbbanner/admin_list">글 모음 목록</a>
                    </li>
                    <li class="breadcrumb-item active">
                        <strong>배너 신규</strong>
                    </li>
                </ol>
            </div>
            <div class="col-lg-2">
            </div>
        </div>

        <div class="animated fadeInRight" style="padding-top:12.5px;padding-bottom:0px;">
            <div class="row">
                <div class="col-lg-12">
                    <div class="ibox-title">
                        <h5>신규 등록</h5>
                    </div>
                    <div class="ibox-content" style="padding-bottom:0.1px;">
                        <div class="form-group row">
                            <label class="col-sm-2 col-form-label">*삭제여부</label>
                            <div class="col-sm-4">
                                <select class="input_required form-control m-b" id="create_tbbanner_deleted" keyword="deleted" errormsg="필수값입니다!.">
                                    <!--<option value="">&#45;&#45;선택하세요&#45;&#45;</option>-->
                                    <option value="N">일반</option>
                                    <option value="Y">삭제</option>
                                </select>
                            </div>
                            <label class="col-sm-2 col-form-label">*구분</label>
                            <div class="col-sm-4">
                                <select class="form-control m-b" id="create_tbbanner_cate" keyword="cate">
                                    <option value="0001">주제1</option>
                                    <option value="0002">주제2</option>
                                </select>
                            </div>

                            <label class="col-sm-2 col-form-label">*제목</label>
                            <div class="col-sm-4">
                                <input type="text" class="input_required form-control m-b" id="create_tbbanner_title" keyword="title" placeholder="내용을 입력하세요" errormsg="필수값입니다."/>
                            </div>
                            <label class="col-sm-6"></label>

                            <label class="col-sm-2 col-form-label">*대표사진</label>
                            <div class="col-sm-4">
                                <img id="img_tbbanner_mpic" class="img-fluid m-b" style="height:100px;cursor:pointer;"
                                     onclick="$('#input_upload_img').click();return false;"
                                     src="https://cdn-icons-png.freepik.com/512/9291/9291208.png"/>
                                <input type="hidden1" class="input_required form-control m-b" id="create_tbbanner_mpic" keyword="mpic" placeholder="내용을 입력하세요" errormsg="대표사진은 필수값입니다."/>
                            </div>
                            <script>
                                function listener_after_upload(file_type, data) {
                                    $("#img_tbbanner_mpic").attr("src", data);
                                    $("#create_tbbanner_mpic").val(data);
                                    $('#input_upload_img').val(null);
                                }
                            </script>
                            <label class="col-sm-6"></label>

                            <label class="col-sm-2 col-form-label">*URL</label>
                            <div class="col-sm-10">
                                <input type="text" class="input_required form-control m-b" id="create_tbbanner_url" keyword="url" placeholder="내용을 입력하세요" errormsg="필수값입니다."/>
                            </div>

                            <label class="col-sm-2 col-form-label">내용</label>
                            <div class="col-sm-10">
                                <textarea class="form-control m-b" id="create_tbbanner_content" keyword="content" onchange="listener_maxlength_check(this, 2000);" rows="4" placeholder="내용을 입력하세요"></textarea>
                            </div>
                        </div>
                        <div class="m-b" style="text-align: right;">
                            <button class="btn btn-primary btn-sm" onclick="create_tbbanner()">등록하기</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <script>
            $( document ).ready(function() {
                console.log( "ready!" );
                //create_tbbanner();
            });
            function create_tbbanner(){
                if(!listenerBeforeCreate()){
                    return false;
                }

                let _param = {
                    'title' : $("#create_tbbanner_title").val(),
                    'cate' : $("#create_tbbanner_cate").val(),
                    'mpic' : $("#create_tbbanner_mpic").val(),
                    'url' : $("#create_tbbanner_url").val(),
                    'content' : $("#create_tbbanner_content").val()
                };

                let _data = new Map();
                _data.url = "/api/tbbanner";
                _data.type = "POST";
                _data.param = _param;
                _data.success = function(obj_data, obj_status, obj_xhr){
                    alert("등록");
                    location.reload();
                }
                _data.error = function(obj_data, obj_status, obj_xhr){
                    alert("정상적으로 이루어지지 않았습니다. 다시 시도해주세요.");
                }
                func_ajax(_data);
            }
        </script>
        <body th:replace="~{@{includes/admin/footer}}"></body>
    </div>
    <body th:replace="~{@{includes/admin/right_sidebar}}"></body>
</div>
<body th:replace="~{@{includes/admin/bottom}}"></body>
</body>
</html>
