<!DOCTYPE html>
<html>
<head>
    <head th:replace="~{@{includes/admin/head}}"></head>
</head>
<body>

<div id="wrapper">
    <body th:replace="~{@{includes/admin/nav}}"></body>
    <script>
        $(".sidemenu_li_tbcrew").addClass("active");
    </script>
    <div id="page-wrapper" class="gray-bg dashbard-1">
        <body th:replace="~{@{includes/admin/navbar_top}}"></body>
        <div class="row wrapper border-bottom white-bg page-heading">
            <div class="col-lg-10">
                <h2>가맹점(<font class="font_tbcrew_title"></font>) 출입시간 신규</h2>
                <ol class="breadcrumb">
                    <li class="breadcrumb-item">
                        <a href="/admin">Home</a>
                    </li>
                    <li class="breadcrumb-item">
                        <a href="/tbcrew/admin_list">출입관리</a>
                    </li>
                    <li class="breadcrumb-item">
                        <a href="/tbcrew/admin_list">가맹점 목록</a>
                    </li>
                    <li class="breadcrumb-item">
                        <a href="javascript:location_href_path_param('/tbcrew/admin_detail/', getIdFromUrl(null))">가맹점(<font class="font_tbcrew_title"></font>) 상세</a>
                    </li>
                    <li class="breadcrumb-item">
                        <a href="javascript:location_href_path_param('/tbcrewtime/admin_list/', getIdFromUrl(null))">가맹점(<font class="font_tbcrew_title"></font>) 출입시간 목록</a>
                    </li>
                    <li class="breadcrumb-item active">
                        <strong>가맹점(<font class="font_tbcrew_title"></font>) 출입시간 신규</strong>
                    </li>
                </ol>
            </div>
            <div class="col-lg-2">
            </div>
        </div>

        <div class="animated fadeInRight" style="padding-top:12.5px;padding-bottom:0px;">
            <div class="row">
                <div class="col-lg-12">
                    <div class="ibox-title">
                        <h5>신규 등록</h5>
                    </div>
                    <div class="ibox-content" style="padding-bottom:0.1px;">
                        <div class="form-group row">
                            <label class="col-sm-2 col-form-label">*삭제여부</label>
                            <div class="col-sm-4">
                                <select class="input_required form-control m-b" id="create_tbcrewtime_deleted" keyword="deleted" errormsg="필수값입니다!.">
                                    <!--<option value="">&#45;&#45;선택하세요&#45;&#45;</option>-->
                                    <option value="N">일반</option>
                                    <option value="Y">삭제</option>
                                </select>
                            </div>
                            <label class="col-sm-2 col-form-label">*진행도</label>
                            <div class="col-sm-4">
                                <select class="form-control m-b" id="create_tbcrewtime_process" keyword="process">
                                    <option value="yet">승인 전</option>
                                    <option value="ing" selected="selected">정상</option>
                                    <option value="done">만료</option>
                                </select>
                            </div>
                            <label class="col-sm-2 col-form-label">*구분</label>
                            <div class="col-sm-4">
                                <select class="form-control m-b" id="create_tbcrewtime_cate" keyword="cate">
                                    <option value="temp">임시</option>
                                    <option value="normal" selected="selected">일반</option>
                                </select>
                            </div>
                            <label class="col-sm-6"></label>

                            <label class="col-sm-2 col-form-label">*제목</label>
                            <div class="col-sm-4">
                                <input type="text" class="input_required form-control m-b" id="create_tbcrewtime_title" keyword="title" placeholder="내용을 입력하세요" errormsg="필수값입니다." />
                            </div>
                            <label class="col-sm-6"></label>

                            <label class="col-sm-2 col-form-label">*나이(최소)</label>
                            <div class="col-sm-4">
                                <input type="number" class="input_required form-control m-b" id="create_tbcrewtime_startage" keyword="startage" placeholder="내용을 입력하세요" errormsg="필수값입니다." value="0" />
                            </div>
                            <label class="col-sm-2 col-form-label">*나이(최대)</label>
                            <div class="col-sm-4">
                                <input type="number" class="input_required form-control m-b" id="create_tbcrewtime_finishage" keyword="finishage" placeholder="내용을 입력하세요" errormsg="필수값입니다." value="19" />
                            </div>

                            <label class="col-sm-2 col-form-label">*시작시간</label>
                            <div class="col-sm-4">
                                <input type="time" class="input_required form-control m-b" id="create_tbcrewtime_starttime" keyword="starttime" placeholder="내용을 입력하세요" errormsg="필수값입니다." value="00:00" />
                            </div>
                            <label class="col-sm-2 col-form-label">*종료시간 (ex. 22:00)</label>
                            <div class="col-sm-4">
                                <input type="text" class="input_required form-control m-b" id="create_tbcrewtime_finishtime" keyword="finishtime" placeholder="내용을 입력하세요" errormsg="필수값입니다." value="22:00" />
                            </div>

                            <label class="col-sm-2 col-form-label">*요일</label>
                            <div class="col-sm-10">
                                <table class="table table-bordered">
                                    <thead>
                                    <tr>
                                        <th>전체</th>
                                        <th>일</th>
                                        <th>월</th>
                                        <th>화</th>
                                        <th>수</th>
                                        <th>목</th>
                                        <th>금</th>
                                        <th>토</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>
                                                <input type="checkbox" class="input_tbcrewtime_day_all" title="day" keyword="all" onclick="listener_chk_tbcrewtime(this, 'input_tbcrewtime_day')" />
                                            </td>
                                            <td>
                                                <input type="checkbox" class="input_tbcrewtime_day_each" title="day" keyword="day0" id="input_tbcrewtime_day_day0" onclick="listener_chk_tbcrewtime(this, 'input_tbcrewtime_day')"/>
                                            </td>
                                            <td>
                                                <input type="checkbox" class="input_tbcrewtime_day_each" title="day" keyword="day1" id="input_tbcrewtime_day_day1" onclick="listener_chk_tbcrewtime(this, 'input_tbcrewtime_day')"/>
                                            </td>
                                            <td>
                                                <input type="checkbox" class="input_tbcrewtime_day_each" title="day" keyword="day2" id="input_tbcrewtime_day_day2" onclick="listener_chk_tbcrewtime(this, 'input_tbcrewtime_day')"/>
                                            </td>
                                            <td>
                                                <input type="checkbox" class="input_tbcrewtime_day_each" title="day" keyword="day3" id="input_tbcrewtime_day_day3" onclick="listener_chk_tbcrewtime(this, 'input_tbcrewtime_day')"/>
                                            </td>
                                            <td>
                                                <input type="checkbox" class="input_tbcrewtime_day_each" title="day" keyword="day4" id="input_tbcrewtime_day_day4" onclick="listener_chk_tbcrewtime(this, 'input_tbcrewtime_day')"/>
                                            </td>
                                            <td>
                                                <input type="checkbox" class="input_tbcrewtime_day_each" title="day" keyword="day5" id="input_tbcrewtime_day_day5" onclick="listener_chk_tbcrewtime(this, 'input_tbcrewtime_day')"/>
                                            </td>
                                            <td>
                                                <input type="checkbox" class="input_tbcrewtime_day_each" title="day" keyword="day6" id="input_tbcrewtime_day_day6" onclick="listener_chk_tbcrewtime(this, 'input_tbcrewtime_day')"/>
                                            </td>

                                        </tr>
                                    </tbody>
                                </table>
                                <input type="hidden" class="create_tbcrewtime_day_each" id="create_tbcrewtime_day0" value="0"/>
                                <input type="hidden" class="create_tbcrewtime_day_each" id="create_tbcrewtime_day1" value="0"/>
                                <input type="hidden" class="create_tbcrewtime_day_each" id="create_tbcrewtime_day2" value="0"/>
                                <input type="hidden" class="create_tbcrewtime_day_each" id="create_tbcrewtime_day3" value="0"/>
                                <input type="hidden" class="create_tbcrewtime_day_each" id="create_tbcrewtime_day4" value="0"/>
                                <input type="hidden" class="create_tbcrewtime_day_each" id="create_tbcrewtime_day5" value="0"/>
                                <input type="hidden" class="create_tbcrewtime_day_each" id="create_tbcrewtime_day6" value="0"/>
                                <script>
                                    function listener_chk_tbcrewtime(obj, obj_class){
                                        listener_chk(obj, obj_class);
                                        let keyword = $(obj).attr("keyword");
                                        let checked = $(obj).prop("checked");
                                        let title = $(obj).attr("title");
                                        if(keyword == "all") {
                                            if(checked){
                                                $(".create_tbcrewtime_day_each").val("1");
                                            } else {
                                                $(".create_tbcrewtime_day_each").val("0");
                                            }
                                        } else {
                                            if(checked){
                                                $("#create_tbcrewtime_" + keyword).val("1");
                                            } else {
                                                $("#create_tbcrewtime_" + keyword).val("0");
                                            }
                                        }
                                    }
                                </script>

                            </div>
                        </div>
                        <div class="m-b" style="text-align: right;">
                            <button class="btn btn-primary btn-sm" onclick="create_tbcrewtime()">등록하기</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <script>
            $( document ).ready(function() {
                console.log( "ready!" );
                detail_tbcrew();
                //create_tbcrewtime();
            });
            function detail_tbcrew() {
                let tbcrewId = getIdFromUrl(null);
                let _data = new Map();
                _data.url = "/api/tbcrew/get/" + tbcrewId;
                _data.type = "GET";
                _data.success = function (obj_data, obj_status, obj_xhr) {
                    let detailKeys = Object.keys(obj_data)
                    for (let eachKey of detailKeys) {
                        if (!isNull(obj_data[eachKey])) {
                            $(".font_tbcrew_" + eachKey).text(obj_data[eachKey]);
                            $("#detail_tbcrew_" + eachKey).val(obj_data[eachKey]);
                            $("#img_tbcrew_" + eachKey).attr("src", obj_data[eachKey]);
                        }
                    }
                }
                _data.error = function (obj_data, obj_status, obj_xhr) {
                    alert("정상적으로 이루어지지 않았습니다. 다시 시도해주세요.");
                }
                func_ajax(_data);
            }
            function create_tbcrewtime(){
                if(!listenerBeforeCreate()){
                    return false;
                }

                let _param = {
                    'process' : $("#create_tbcrewtime_process").val(),
                    'cate' : $("#create_tbcrewtime_cate").val(),
                    'tbcrewId' : getIdFromUrl(null)
                    ,'day0' : $("#create_tbcrewtime_day0").val()
                    ,'day1' : $("#create_tbcrewtime_day1").val()
                    ,'day2' : $("#create_tbcrewtime_day2").val()
                    ,'day3' : $("#create_tbcrewtime_day3").val()
                    ,'day4' : $("#create_tbcrewtime_day4").val()
                    ,'day5' : $("#create_tbcrewtime_day5").val()
                    ,'day6' : $("#create_tbcrewtime_day6").val()
                    ,'starttime' : $("#create_tbcrewtime_starttime").val()
                    ,'finishtime' : $("#create_tbcrewtime_finishtime").val()
                    ,'startage' : $("#create_tbcrewtime_startage").val()
                    ,'finishage' : $("#create_tbcrewtime_finishage").val()
                    ,'title' : $("#create_tbcrewtime_title").val()
                };

                let _data = new Map();
                _data.url = "/api/tbcrewtime";
                _data.type = "POST";
                _data.param = _param;
                _data.success = function(obj_data, obj_status, obj_xhr){
                    alert("등록");
                    location.reload();
                }
                _data.error = function(obj_data, obj_status, obj_xhr){
                    alert("정상적으로 이루어지지 않았습니다. 다시 시도해주세요.");
                }
                func_ajax(_data);
            }
        </script>
        <body th:replace="~{@{includes/admin/footer}}"></body>
    </div>
    <body th:replace="~{@{includes/admin/right_sidebar}}"></body>
</div>
<body th:replace="~{@{includes/admin/bottom}}"></body>
</body>
</html>
