<!DOCTYPE html>
<html>
<head>
    <head th:replace="~{@{includes/admin/head}}"></head>
</head>
<body>

<script id="list_info_tbpostfile" type="text/x-handlebars-template">
    {{#resultData_tbpostfile}}
    <div class="col-sm-2" style="text-align: center">
        <input type="hidden" class="input_tbpostfile_id" value="{{id}}"/>
        <input type="hidden" class="input_tbpostfile_content" value="{{content}}"/>
        <input type="hidden" class="input_tbpostfile_type" value="{{type}}"/>
        <img class="img_tbpostfile_{{type}} img-fluid" style="height:100px;" src="{{content}}"/>
        <p class="p_tbpostfile_{{type}}" style="word-break:break-all;">{{content}}</p>
        <div style="text-align: right" onclick="listener_remove(this)">삭제</div>
    </div>
    {{/resultData_tbpostfile}}
</script>
<script type="text/javascript">
    var list_info_tbpostfile = $("#list_info_tbpostfile").html();
    var list_info_tbpostfile_template = Handlebars.compile(list_info_tbpostfile);
</script>
<script id="list_info_tbpostcmt" type="text/x-handlebars-template">
    {{#resultData_tbpostcmt}}
    <tr class="gradeA">
        <td><font class="font_order"></font></td>
        <!--<td><font class="font_deleted_{{deleted}} chk_deleted_{{id}}">{{deleted}}</font></td>-->
        <td>
            <select class="form-control" id="detail_tbpostcmt_deleted_{{id}}" key="{{id}}" keyword="deleted" onchange="update_tbpostcmt(this)">
                <option value="N">일반</option>
                <option value="Y">삭제</option>
            </select>
        </td>
        <td>{{tbuserNick}}</td>
        <td>
            <textarea class="form-control" id="detail_tbpostcmt_content_{{id}}" key="{{id}}" keyword="content" onkeyup="listener_maxlength_check(this, 2000);" onchange="update_tbpostcmt(this)" rows="2" placeholder="내용을 입력하세요"></textarea>
        </td>
        <td>{{createdAt}} / {{modifiedAt}}</td>
    </tr>
    {{/resultData_tbpostcmt}}
</script>
<script type="text/javascript">
    var list_info_tbpostcmt = $("#list_info_tbpostcmt").html();
    var list_info_tbpostcmt_template = Handlebars.compile(list_info_tbpostcmt);
</script>

<div id="wrapper">
    <body th:replace="~{@{includes/admin/nav}}"></body>
    <script>
        $(".sidemenu_li_tbpost").addClass("active");
    </script>
    <div id="page-wrapper" class="gray-bg dashbard-1">
        <body th:replace="~{@{includes/admin/navbar_top}}"></body>
        <div class="row wrapper border-bottom white-bg page-heading">
            <div class="col-lg-10">
                <h2>게시글 상세 : <font class="font_tbpost_nick"></font></h2>
                <ol class="breadcrumb">
                    <li class="breadcrumb-item">
                        <a href="/admin">Home</a>
                    </li>
                    <li class="breadcrumb-item">
                        <a href="/tbpost/admin_list">USER</a>
                    </li>
                    <li class="breadcrumb-item">
                        <a href="/tbpost/admin_list">게시글 목록</a>
                    </li>
                    <li class="breadcrumb-item active">
                        <strong>게시글 상세</strong>
                    </li>
                </ol>
            </div>
            <div class="col-lg-2">
            </div>
        </div>

        <div class="animated fadeInRight" style="padding-top:12.5px;padding-bottom:0px;">
            <div class="row">
                <div class="col-lg-12">
                    <div class="ibox-title">
                        <h5>#<font class="font_tbpost_id">-</font></h5>
                    </div>
                    <div class="ibox-content" style="padding-bottom:0.1px;">
                        <input type="hidden" id="detail_tbpost_id" value="" />
                        <div class="form-group row">
                            <label class="col-sm-2 col-form-label">삭제여부</label>
                            <div class="col-sm-4">
                                <select class="form-control m-b" id="detail_tbpost_deleted" keyword="deleted" onchange="update_tbpost(this)">
                                    <option value="N">일반</option>
                                    <option value="Y">삭제</option>
                                </select>
                            </div>
                            <label class="col-sm-2 col-form-label">진행</label>
                            <div class="col-sm-4">
                                <select class="form-control m-b" id="detail_tbpost_process" keyword="process" onchange="update_tbpost(this)">
                                    <option value="economy">경제</option>
                                    <option value="politics">정치</option>
                                </select>
                            </div>

                            <label class="col-sm-2 col-form-label">*제목</label>
                            <div class="col-sm-4">
                                <input type="text" class="form-control m-b" id="detail_tbpost_title" keyword="title" placeholder="내용을 입력하세요" onchange="update_tbpost(this)" />
                            </div>

                            <label class="col-sm-6"></label>
                            <label class="col-sm-2 col-form-label">내용</label>
                            <div class="col-sm-10">
                                <textarea class="form-control m-b" id="detail_tbpost_content" keyword="content" onkeyup="listener_maxlength_check(this, 2000);" onchange="update_tbpost(this)" rows="4" placeholder="내용을 입력하세요"></textarea>
                            </div>

                            <label class="col-sm-2 col-form-label">첨부(사진/파일)</label>
                            <div class="col-sm-4">
                                <button class="btn btn-warning btn-sm m-b" onclick="$('#input_upload_file').click();return false;">추가하기</button>
                            </div>
                            <script>
                                function listener_after_upload(file_type, data) {
                                    $("#img_tbpost_mpic").attr("src", data);
                                    $("#create_tbpost_mpic").val(data);
                                    $('#input_upload_file').val(null);
                                    let _file = {};
                                    _file["content"] = data;
                                    _file["type"] = file_type;
                                    create_tbpostfile(_file);
                                }
                            </script>
                            <label class="col-sm-6"></label>
                            <label class="col-sm-2"></label>
                            <div class="col-sm-10">
                                <div class="row m-b" id="div_array_pics">
                                </div>
                                <div class="row m-b" id="div_array_files">
                                </div>
                                <script>
                                    function listener_remove(obj){
                                        let input_tbpostfile_id = $(obj).parent().find("input[class='input_tbpostfile_id']");
                                        let delete_id = $(input_tbpostfile_id[0]).val();
                                        //alert(delete_id);
                                        if(delete_id == ""){
                                            $(obj).parent().remove();
                                        } else {
                                            delete_tbpostfile(delete_id, obj);
                                        }
                                    }
                                </script>
                            </div>
                            <label class="col-sm-2">댓글</label>
                            <div class="col-sm-10">
                                <input type="hidden" id="search_sdatetime" value="" />
                                <input type="hidden" id="search_fdatetime" value="" />
                                <table style="width:100%">
                                    <thead>
                                        <tr>
                                            <td>
                                                <input type="text" class="form-control m-b" id="create_tbpostcmt_content" placeholder="내용을 입력하세요" />
                                            </td>
                                            <td style="width:50px;padding-bottom:17.5px;">
                                                <button class="btn btn-dark btn-sm" onclick="create_tbpostcmt()">입력</button>
                                            </td>
                                        </tr>
                                    </thead>
                                </table>
                                <table class="table table-bordered">
                                    <thead>
                                    <tr>
                                        <th>#</th>
                                        <th>삭제여부</th>
                                        <th>작성자</th>
                                        <th>내용</th>
                                        <th>입력일시/수정일시</th>
                                    </tr>
                                    </thead>
                                    <tbody id="tbody_tbpostcmt_list">
                                    </tbody>
                                </table>
                                <div style="text-align: right">
                                    <button class="btn btn-primary btn-sm" onclick="search_tbpostcmt('before')">더보기</button>
                                </div>
                                <br/>
                                <br/>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <script>
            $( document ).ready(function() {
                console.log( "ready!" );
                detail_tbpost();
                search_tbpostcmt('before');
            });
            function detail_tbpost(){
                let tbpostId = getIdFromUrl(null);
                let _data = new Map();
                _data.url = "/api/tbpost/" + tbpostId;
                _data.type = "GET";
                _data.success = function(obj_data, obj_status, obj_xhr){
                    let detailKeys = Object.keys(obj_data)
                    for (let eachKey of detailKeys){
                        if(!isNull(obj_data[eachKey])){
                            $(".font_tbpost_" + eachKey).text(obj_data[eachKey]);
                            $("#detail_tbpost_" + eachKey).val(obj_data[eachKey]);
                            $("#img_tbpost_" + eachKey).attr("src", obj_data[eachKey]);
                        }
                    }

                    let pics = obj_data.pics;
                    for(each of pics){
                        let each_list = [];
                        each_list.push(each);
                        $("#div_array_pics").append(list_info_tbpostfile_template({"resultData_tbpostfile": each_list}));
                    }
                    let files = obj_data.files;
                    for(each of files){
                        let each_list = [];
                        each_list.push(each);
                        $("#div_array_files").append(list_info_tbpostfile_template({"resultData_tbpostfile": each_list}));
                    }
                    $(".img_tbpostfile_file").remove();
                    $(".p_tbpostfile_image").remove();
                }
                _data.error = function(obj_data, obj_status, obj_xhr){
                    alert("정상적으로 이루어지지 않았습니다. 다시 시도해주세요.");
                }
                func_ajax(_data);
            }
            function update_tbpost(obj){
                let _param = {};
                _param["id"] = $("#detail_tbpost_id").val();
                _param[$(obj).attr("keyword")] = $(obj).val();
                //alert(_param[$(obj).attr("keyword")]);

                let _data = new Map();
                _data.url = "/api/tbpost";
                _data.type = "PUT";
                _data.param = _param;
                _data.success = function(obj_data, obj_status, obj_xhr){
                    //alert("수정되었습니다.");
                }
                _data.error = function(obj_data, obj_status, obj_xhr){
                    alert("정상적으로 이루어지지 않았습니다. 다시 시도해주세요.");
                }
                func_ajax(_data);
            }
            function create_tbpostfile(_param){
                _param["tbpostId"] = $("#detail_tbpost_id").val();
                let _data = new Map();
                _data.url = "/api/tbpostfile";
                _data.type = "POST";
                _data.param = _param;
                _data.success = function(obj_data, obj_status, obj_xhr){
                    _param["id"] = obj_data.id;
                    let each_list = [];
                    each_list.push(_param);
                    if (_param["type"] == "image") {
                        $("#div_array_pics").append(list_info_tbpostfile_template({"resultData_tbpostfile": each_list}));
                    } else {
                        $("#div_array_files").append(list_info_tbpostfile_template({"resultData_tbpostfile": each_list}));
                    }
                    $(".img_tbpostfile_file").remove();
                    $(".p_tbpostfile_image").remove();
                }
                _data.error = function(obj_data, obj_status, obj_xhr){
                    alert("정상적으로 이루어지지 않았습니다. 다시 시도해주세요.");
                }
                func_ajax(_data);
            }
            function delete_tbpostfile(delete_id, obj){

                if (confirm("정말 삭제하시겠습니까?")) {
                } else {
                    alert("취소");
                    return false;
                }

                let ids = [];
                ids.push(delete_id);

                let _data = new Map();
                _data.url = "/api/tbpostfile";
                _data.type = "DELETE";
                _data.param = {
                    'ids' : ids
                };
                _data.success = function(obj_data, obj_status, obj_xhr){
                    let resultlist = obj_data;
                    if(resultlist.length == 0){
                        //alert("no data");
                    } else {
                        $(obj).parent().remove();
                    }
                }
                _data.error = function(obj_data, obj_status, obj_xhr){
                    alert("정상적으로 이루어지지 않았습니다. 다시 시도해주세요.");
                }
                func_ajax(_data);
            }
            function search_tbpostcmt(search_cway){

                let tbpostId = getIdFromUrl(null);
                let cdatetime = "";
                if(search_cway == "recent"){
                    cdatetime = $("#search_fdatetime").val() + "";
                } else {
                    cdatetime = $("#search_sdatetime").val() + "";
                }

                let _data = new Map();
                _data.url = "/api/tbpostcmt/moreList";
                _data.type = "POST";
                _data.param = {
                    'cdatetime' : cdatetime,
                    'cway' : search_cway,
                    'permore' : "10"
                    ,'tbpostId' : tbpostId
                };
                _data.success = function(obj_data, obj_status, obj_xhr){
                    let resultlist = obj_data;
                    for(let i=0;i<resultlist.length;i++){
                        let this_created_at = resultlist[i].createdAt + "";
                        //초기값 설정
                        let search_sdatetime = $("#search_sdatetime").val() + "";
                        if(search_sdatetime == ""){
                            $("#search_sdatetime").val(this_created_at);
                        }
                        let search_fdatetime = $("#search_fdatetime").val() + "";
                        if(search_fdatetime == ""){
                            $("#search_fdatetime").val(this_created_at);
                        }
                        if(search_sdatetime > this_created_at){
                            $("#search_sdatetime").val(this_created_at);
                        }
                        if(search_fdatetime < this_created_at){
                            $("#search_fdatetime").val(this_created_at);
                        }

                        let each_list = [];
                        each_list.push(resultlist[i]);
                        if(search_cway == "recent"){
                            $("#tbody_tbpostcmt_list").prepend(list_info_tbpostcmt_template({"resultData_tbpostcmt":each_list}));
                        } else {
                            $("#tbody_tbpostcmt_list").append(list_info_tbpostcmt_template({"resultData_tbpostcmt":each_list}));
                        }
                        $("#detail_tbpostcmt_deleted_" + resultlist[i].id).val(resultlist[i].deleted);
                        $("#detail_tbpostcmt_content_" + resultlist[i].id).val(resultlist[i].content);
                        listenerAfterList();
                    }
                }
                _data.error = function(obj_data, obj_status, obj_xhr){
                    alert("정상적으로 이루어지지 않았습니다. 다시 시도해주세요.");
                }
                func_ajax(_data);
            }
            function create_tbpostcmt(){
                let _param = {};
                _param["tbpostId"] = $("#detail_tbpost_id").val();
                _param["content"] = $("#create_tbpostcmt_content").val();
                let _data = new Map();
                _data.url = "/api/tbpostcmt";
                _data.type = "POST";
                _data.param = _param;
                _data.success = function(obj_data, obj_status, obj_xhr){
                    search_tbpostcmt('recent');
                }
                _data.error = function(obj_data, obj_status, obj_xhr){
                    alert("정상적으로 이루어지지 않았습니다. 다시 시도해주세요.");
                }
                func_ajax(_data);
            }
            function update_tbpostcmt(obj){
                let _param = {};
                _param["id"] = $(obj).attr("key");
                _param[$(obj).attr("keyword")] = $(obj).val();
                let _data = new Map();
                _data.url = "/api/tbpostcmt";
                _data.type = "PUT";
                _data.param = _param;
                _data.success = function(obj_data, obj_status, obj_xhr){
                    //alert("!!");
                }
                _data.error = function(obj_data, obj_status, obj_xhr){
                    alert("정상적으로 이루어지지 않았습니다. 다시 시도해주세요.");
                }
                func_ajax(_data);
            }
        </script>
        <body th:replace="~{@{includes/admin/footer}}"></body>
    </div>
    <body th:replace="~{@{includes/admin/right_sidebar}}"></body>
</div>
<body th:replace="~{@{includes/admin/bottom}}"></body>
</body>
</html>
