<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js" integrity="sha512-v2CJ7UaYy4JwqLDIrZUI/4hqeoQieOmAZNXBeQyjo21dadnwR+8ZaIJVT8EE2iyI61OV8e6M8PP2/4hpQINQ/g==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
</head>
<style>
    .hide{
        display: none;
    }
</style>
<body>
글쓰기 테스트
<br/>
<!--<img src="/uploadfile/1705983893287_file.jpg"/>-->

제목 : <input id="create_title" /><br/>
구분 : <select id="create_cate">
    <option value="economy">경제</option>
    <option value="politics">정치</option>
    </select>
<br/>
내용 : <input id="create_content" /><br/>

<div>
    =========================================
</div>
<a onclick="create_tbpost()">write</a>
<div>
    =========================================
</div>

이미지 추가<br/>

<input class="hide" type="file" id="create_mpic" onchange="readURLFile(this)" />
<!--
<input class="hide" type="file" id="create_mpic" onchange="readURLFile(this)" accept="image/*" />
-->
<button class="btn btn-warning me-2" onclick="$('#create_mpic').click();return false;">사진 추가</button>
<div class="row" id="div_array_tbpostfile"></div>
<body th:replace="~{@{includes/bottom}}"></body>
    <script>
        let limit_each_file_size = 10;
        function readURLFile(input) {
            let temp_id = $(input).attr("id") + "";
            if (input.files && input.files[0]) {
                let reader = new FileReader();
                reader.readAsDataURL(input.files[0]);
                reader.onload = function(e) {
                    let temp_each_file_size = input.files[0].size / (1024 * 1024);
                    if (temp_each_file_size > limit_each_file_size) {
                        alert("파일 1개 당 " + limit_each_file_size + "mb 용량 제한 초과 입니다!");
                        $(input).val("");
                        return false;
                    }
                    let t_type = "image";
                    if (!input.files[0].type.match('image.*')) {
                        t_type = "file";
                        //alert(input.files[0].type);
                        /*
                        alert("이미지 파일이 아닙니다!");
                        $('#' + temp_id).val(null);
                        $('#img_' + temp_id).attr('src', "/resources/image/no-pic.jpg");
                         */
                    } else {
                        t_type = "image";
                    }
                    listener_upload_file(input.files[0], t_type);
                }
            }
        }
        function listener_upload_file(obj_file, t_type) {
            let fileData = new FormData();
            fileData.append("file", obj_file);

            $.ajax({
                url: "/api/default/uploadFile",
                type: "POST",
                data: fileData ,
                cache : false,
                contentType : false,
                processData : false,
                success: (data, status, xhr)=>{
                    //alert(xhr.status);
                    switch(xhr.status){
                        case 201:
                            //alert(data);
                            $("#div_array_tbpostfile").append(
                                '<div class="">'
                                +'<img class="img-fluid" style="height:100px;" src="'+data+'"/>'
                                +'<input class="input_tbpostfile hide1" value="'+data+'"/>'
                                +'<input class="input_tbpostfile_type hide1" value="'+t_type+'"/>'
                                +'<a onClick="$(this).parent().remove();">삭제</a>'
                                +'</div>'
                            );
                            break;
                        default:
                            console.log("no matching status code");
                    }
                },
                error: (data)=>{
                    switch(data.status){
                        case 500:
                            alert("권한 외의 요청입니다.");
                            location.href="/index";
                            break;
                        default:
                            alert("네트워크 에러가 발생하였습니다. 다시 요청해주시기 바랍니다.");
                            console.log("no matching status code");
                            break;
                    }
                },
            });


        }
    </script>
<script>
    function create_tbpost(){

        let pics = [];
        let types = [];
        let input_tbpostfile = $(".input_tbpostfile");
        let input_tbpostfile_type = $(".input_tbpostfile_type");
        for(let i=0;i<input_tbpostfile.length;i++){
            pics.push($(input_tbpostfile[i]).val());
            types.push($(input_tbpostfile_type[i]).val());
        }
        /*
        alert(pics.length);
        alert(localStorage.getItem("accessToken"));
        return false;
        */

        let _data = new Map();
        _data.url = "/api/tbpost";
        _data.type = "POST";
        _data.param = {
            'pics' : pics,
            'types' : types,
            'title' : $("#create_title").val(),
            'cate' : $("#create_cate").val(),
            'content' : $("#create_content").val()
        };
        _data.success = function(obj_data, obj_status, obj_xhr){
            alert("고고쓰!");
            alert(JSON.stringify(obj_data));
            alert(JSON.stringify(obj_status));
            alert(JSON.stringify(obj_xhr));
        }
        _data.error = function(obj_data, obj_status, obj_xhr){
            alert("고고쓰!");
            alert(JSON.stringify(obj_data));
            alert(JSON.stringify(obj_status));
            alert(JSON.stringify(obj_xhr));
        }

        func_ajax(_data);
        return false;
        //alert(_data.url);
        /*
        data: JSON.stringify({
                'pics' : pics,
                'types' : types,
                'title' : $("#create_title").val(),
                'cate' : $("#create_cate").val(),
                'content' : $("#create_content").val()
            }),
         */

        $.ajax({
            url: _data.url,
            type: _data.type,
            beforeSend: function (xhr) {
                xhr.setRequestHeader("Content-type", "application/json");
                xhr.setRequestHeader("Authorization", localStorage.getItem("accessToken"));
            },
            contentType : 'application/json; charset=utf-8',
            data: JSON.stringify(_data.param),
            cache: false,
            success: (data, status, xhr)=>{
                alert("data : " + JSON.stringify(data));
                //alert("status : " + JSON.stringify(status));
                //alert("xhr : " + JSON.stringify(xhr));
                /*
                let accessToken = xhr.getResponseHeader("Authorization");
                alert(accessToken);
                alert(xhr.status);
                 */
                if (xhr.status >= 200 && xhr.status < 300) {
                    alert("성공");
                }



            },
            error: (data, status, xhr)=>{
                if(data.status == 401){
                    alert("access token expired!");
                    console.log(data.responseText);
                }
                if(data.status == 403){
                    alert("no auth!");
                    console.log(data.responseText);
                }

                /*
                alert("error : data : " + JSON.stringify(data));
                alert("error : xhr : " + JSON.stringify(xhr));
                alert("error : status : " + JSON.stringify(status));
                 */
            },
        });

    }

</script>
</body>
</html>