<!DOCTYPE html>
<html>
    <head>
        <head th:replace="~{@{includes/head}}"></head>
    </head>

    <body>
    <div id="wrapper">
        <body th:replace="~{@{includes/nav}}"></body>

        <div id="page-wrapper" class="gray-bg dashbard-1">
            <body th:replace="~{@{includes/navbar_top}}"></body>

            <div class="row">
                <div class="col-lg-12">
                    <div class="wrapper wrapper-content">
                        <div class="row">
                            dkssudgktpdy!!
                        </div>
                    </div>

                </div>
            </div>

            <body th:replace="~{@{includes/footer}}"></body>
        </div>

        <body th:replace="~{@{includes/right_sidebar}}"></body>
    </div>
<body th:replace="~{@{includes/bottom}}"></body>
</body>
</html>
