<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js" integrity="sha512-v2CJ7UaYy4JwqLDIrZUI/4hqeoQieOmAZNXBeQyjo21dadnwR+8ZaIJVT8EE2iyI61OV8e6M8PP2/4hpQINQ/g==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
</head>
<body>
구글 로그인
<br/>
<div style="display: none">
=========================================
    <input type="hidden1" id="refreshToken" th:value="${token.refreshToken}" />
    <div th:text="${token.refreshToken}">-</div>
    <input type="hidden1" id="accessToken" th:value="${token.accessToken}" />
    <div th:text="${token.accessToken}">-</div>
=========================================
</div>

<script>
    let refreshToken = $("#refreshToken").val();
    let accessToken = $("#accessToken").val();
    localStorage.setItem("refreshToken", refreshToken);
    localStorage.setItem("accessToken", accessToken);

    location.replace("/index");
</script>

</body>
</html>