<!DOCTYPE html>
<html lang="en">
<head>
    <head th:replace="~{@{includes/default/head}}"></head>
</head>
<body>
<body th:replace="~{@{includes/default/header}}"></body>
<main id="main">
    <!-- ======= Breadcrumbs ======= -->
    <section class="breadcrumbs">
        <div class="container">

            <ol>
                <li><a href="/index">Home</a></li>
                <li>LOGIN</li>
            </ol>
            <h2>SNS LOGIN</h2>

        </div>
    </section><!-- End Breadcrumbs -->
    <!-- ======= Portfolio Details Section ======= -->
    <section id="portfolio-details" class="portfolio-details">
        <div class="container">
            <div class="row gy-4">
                <div class="col-lg-6">
                    <div class="portfolio-info">
                        <h3>GOOGLE</h3>
                        <ul>
                            <li>
                                <div>
                                    <script src="https://accounts.google.com/gsi/client" async defer></script>
                                    <div id="g_id_onload"
                                         data-client_id="868730276300-vmg16fubqhgv0g90gdn4t9g1quctjqiq.apps.googleusercontent.com"
                                         data-login_uri="/tbuser/login/google"
                                         data-auto_prompt="false"
                                         data-context="use">
                                    </div>
                                    <div class="g_id_signin"
                                         data-type="standard"
                                         data-size="large"
                                         data-theme="outline"
                                         data-text="sign_in_with"
                                         data-shape="rectangular"
                                         data-logo_alignment="left">
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="portfolio-info">
                        <h3>NAVER</h3>
                        <ul>
                            <li>
                                <div id="naver_id_login"></div>
                                <script>
                                    var temp_http_host = document.location.host;
                                    var temp_http_protocol = document.location.protocol;
                                    var temp_http = temp_http_protocol + "//" + temp_http_host;
                                    //alert(temp_http);
                                </script>
                                <script type="text/javascript" src="https://static.nid.naver.com/js/naverLogin_implicit-1.0.3.js" charset="utf-8"></script>
                                <!-- //네이버아이디로로그인 버튼 노출 영역 -->
                                <script type="text/javascript">
                                    var naver_id_login = new naver_id_login("ZiXF_tUh2N3buf3vcdnb",  temp_http + "/tbuser/login/naver");
                                    var state = naver_id_login.getUniqState();
                                    naver_id_login.setButton("white", 3,40);
                                    naver_id_login.setDomain(temp_http_host);
                                    //naver_id_login.setPopup();
                                    naver_id_login.setState(state);
                                    naver_id_login.init_naver_id_login();
                                </script>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section><!-- End Portfolio Details Section -->
</main><!-- End #main -->
<body th:replace="~{@{includes/default/footer}}"></body>
<a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>
<body th:replace="~{@{includes/default/bottom}}"></body>
</body>
</html>