<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0/EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.thc.sprapi.mapper.TbpostcmtMapper">

	<select id="detail" parameterType="hashMap" resultType="com.thc.sprapi.dto.TbpostcmtDto$TbpostcmtSelectDto">
		SELECT tbpostcmt.id
			,tbpostcmt.created_at as createdAt
			,tbpostcmt.modified_at as modifiedAt
			,tbpostcmt.tbpost_id as tbpostId
			,tbpostcmt.tbuser_id as tbuserId
			,tbpostcmt.content
			,tbpostcmt.deleted
			,IF(tbuser.deleted = 'Y', '(deleted)', tbuser.nick) as tbuserNick
			,IF(tbuser.deleted = 'Y', '', tbuser.mpic) as tbuserMpic
		FROM tbpostcmt, tbuser
		WHERE tbpostcmt.tbuser_id = tbuser.id
		  AND tbpostcmt.id = #{id}
	</select>
	<select id="list" parameterType="com.thc.sprapi.dto.TbpostcmtDto$TbpostcmtListDto" resultType="com.thc.sprapi.dto.TbpostcmtDto$TbpostcmtSelectDto">
		SELECT tbpostcmt.id
		FROM tbpostcmt
		WHERE tbpostcmt.id is not null
		<if test = "tbpostId != null and tbpostId !=''">AND tbpostcmt.tbpost_id = #{tbpostId}</if>
		<if test = "tbuserId != null and tbuserId !=''">AND tbpostcmt.tbuser_id = #{tbuserId}</if>
		<if test = "content != null and content !=''">AND tbpostcmt.content LIKE CONCAT('%', #{content}, '%')</if>
		<if test = "deleted != null and deleted !=''">AND tbpostcmt.deleted = #{deleted}</if>
		ORDER BY tbpostcmt.created_at ASC
	</select>

	<select id="moreList" parameterType="com.thc.sprapi.dto.TbpostcmtDto$TbpostcmtMoreListDto" resultType="com.thc.sprapi.dto.TbpostcmtDto$TbpostcmtSelectDto">
		SELECT tbpostcmt.id
		FROM tbpostcmt
		WHERE tbpostcmt.id is not null
		<if test = "sdate != null and sdate !=''">AND tbpostcmt.created_at >= CONCAT(#{sdate}, ' 00:00:00.000000')</if>
		<if test = "fdate != null and fdate !=''">AND CONCAT(#{fdate}, ' 23:59:59.999999') >= tbpostcmt.created_at</if>
		<if test = "tbpostId != null and tbpostId !=''">AND tbpostcmt.tbpost_id = #{tbpostId}</if>
		<if test = "tbuserId != null and tbuserId !=''">AND tbpostcmt.tbuser_id = #{tbuserId}</if>
		<if test = "content != null and content !=''">AND tbpostcmt.content LIKE CONCAT('%', #{content}, '%')</if>
		<if test = "deleted != null and deleted !=''">AND tbpostcmt.deleted = #{deleted}</if>
		<if test = "cdatetime != null and cdatetime !=''">
			<if test = "cway =='before'">AND STR_TO_DATE(#{cdatetime}, '%Y-%m-%d %H:%i:%s.%f') > tbpostcmt.created_at ORDER BY tbpostcmt.created_at DESC</if>
			<if test = "cway =='recent'">AND tbpostcmt.created_at > STR_TO_DATE(#{cdatetime}, '%Y-%m-%d %H:%i:%s.%f') ORDER BY tbpostcmt.created_at ASC</if>
		</if>
		LIMIT 0, #{permore}
	</select>

	<select id="pagedList" parameterType="com.thc.sprapi.dto.TbpostcmtDto$TbpostcmtPagedListDto" resultType="com.thc.sprapi.dto.TbpostcmtDto$TbpostcmtSelectDto">
		SELECT tbpostcmt.id
		FROM tbpostcmt
		WHERE tbpostcmt.id is not null
		<if test = "sdate != null and sdate !=''">AND tbpostcmt.created_at >= CONCAT(#{sdate}, ' 00:00:00.000000')</if>
		<if test = "fdate != null and fdate !=''">AND CONCAT(#{fdate}, ' 23:59:59.999999') >= tbpostcmt.created_at</if>
		<if test = "tbpostId != null and tbpostId !=''">AND tbpostcmt.tbpost_id = #{tbpostId}</if>
		<if test = "tbuserId != null and tbuserId !=''">AND tbpostcmt.tbuser_id = #{tbuserId}</if>
		<if test = "content != null and content !=''">AND tbpostcmt.content LIKE CONCAT('%', #{content}, '%')</if>
		<if test = "deleted != null and deleted !=''">AND tbpostcmt.deleted = #{deleted}</if>
		<if test = "orderby =='created_at'">ORDER BY tbpostcmt.created_at </if>
		<if test = "orderway =='asc'">ASC</if>
		<if test = "orderway =='desc'">DESC</if>
		LIMIT #{callpage}, #{perpage}
	</select>

	<select id="pagedListCount" parameterType="com.thc.sprapi.dto.TbpostcmtDto$TbpostcmtPagedListDto" resultType="Integer">
		SELECT count(tbpostcmt.id) as listsize
		FROM tbpostcmt
		WHERE tbpostcmt.id is not null
		<if test = "sdate != null and sdate !=''">AND tbpostcmt.created_at >= CONCAT(#{sdate}, ' 00:00:00.000000')</if>
		<if test = "fdate != null and fdate !=''">AND CONCAT(#{fdate}, ' 23:59:59.999999') >= tbpostcmt.created_at</if>
		<if test = "tbuserId != null and tbuserId !=''">AND tbpostcmt.tbuser_id = #{tbuserId}</if>
		<if test = "content != null and content !=''">AND tbpostcmt.content LIKE CONCAT('%', #{content}, '%')</if>
		<if test = "deleted != null and deleted !=''">AND tbpostcmt.deleted = #{deleted}</if>
	</select>

</mapper>