<!DOCTYPE html>
<html lang="en">
<head>
    <head th:replace="~{@{includes/default/head}}"></head>
</head>
<body>
<body th:replace="~{@{includes/default/header}}"></body>

<main id="main">
    <section class="breadcrumbs">
        <div class="container">
            <ol>
                <li><a href="/index">Home</a></li>
                <li><a href="/tbnotice/list">게시글 목록</a></li>
                <li>게시글 상세</li>
            </ol>
            <h2><font class="font_tbnotice_title">-</font></h2>
        </div>
    </section>

    <section id="blog" class="blog">
        <div class="container" data-aos="fade-up">
            <div class="row">
                <div class="col-lg-12 entries">
                    <article class="entry entry-single">
                        <input type="hidden" id="detail_tbnotice_id" value="" />
                        <h2 class="entry-title">
                            <font class="font_tbnotice_title">-</font>
                        </h2>
                        <div class="entry-meta">
                            <ul>
                                <li class="d-flex align-items-center"><i class="bi bi-clock"></i> <a href="blog-single.html"><time><font class="font_tbnotice_createdAt">-</font></time></a></li>
                                <li class="d-flex align-items-center"><i class="bi bi-chat-dots"></i> <a href="blog-single.html">12 Comments</a></li>
                            </ul>
                        </div>
                        <div class="entry-content">
                            <img id="img_tbnotice_mpic" style="height: 100px;"/>
                            <p><font class="font_tbnotice_content">-</font></p>
                        </div>
                    </article>
                </div><!-- End blog entries list -->
            </div>
        </div>
    </section><!-- End Blog Single Section -->


</main><!-- End #main -->

<script>
    $( document ).ready(function() {
        console.log( "ready!" );
        detail_tbnotice();
    });
    function detail_tbnotice(){
        let tbnoticeId = getIdFromUrl(null);
        let _data = new Map();
        _data.url = "/api/tbnotice/" + tbnoticeId;
        _data.type = "GET";
        _data.success = function(obj_data, obj_status, obj_xhr){
            let detailKeys = Object.keys(obj_data)
            for (let eachKey of detailKeys){
                if(!isNull(obj_data[eachKey])){
                    $(".font_tbnotice_" + eachKey).text(obj_data[eachKey]);
                    $("#detail_tbnotice_" + eachKey).val(obj_data[eachKey]);
                    $("#img_tbnotice_" + eachKey).attr("src", obj_data[eachKey]);
                }
            }
        }
        _data.error = function(obj_data, obj_status, obj_xhr){
            alert("정상적으로 이루어지지 않았습니다. 다시 시도해주세요.");
        }
        func_ajax(_data);
    }
</script>
<body th:replace="~{@{includes/default/footer}}"></body>
<a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>
<body th:replace="~{@{includes/default/bottom}}"></body>
</body>
</html>